<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Currículo Web</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

  <!-- Cabeçalho de Navegação-->
  <header>
    <h1>Meu Portifólio</h1>
  </header>
  <section id="quem-sou-eu">
    <h2>Quem sou eu</h2>
    <img src="/img/fotoekner.jpg" alt="Minha foto do perfil">
    <p>Sou desenvolvedor iniciante em Ruby e estou aprendendo a criar aplicações web. Adoro resolver problemas e estou sempre em busca de aprender novas tecnologias.</p>
  </section>
  <section id=""skills>
    <h2>Skills</h2>
    <ul>
      <li>Ruby</li>
      <li>Sinatra</li>
      <li>HTML/CSS</li>
      <li>JavaScript</li>
      <li>Git/Github</li>
    </ul>
  </section>
  <section id="projetos">
    <h2>Projetos</h2>
    <ul>
      <li>
        <h3>Projeto 1</h3>
        <img src="/img/projeto.jpg" alt="Imagem do Projeto 1">
        <p>Descrição do projeto 1. Esse projeto foi desenvolvido para......</p>
      </li>
      <li>
        <h3>Projeto 2</h3>
        <img src="/img/projeto2.jpg" alt="Imagem do Projeto 2">
        <p>Descrição do projeto 2. Este projeto é uma aplicação que......</p>
      </li>
    </ul>
  </section>
  <section id="contatos">
    <h2>Contatos</h2>
    <p>Email: eknerph@gmail.com</p>
    <p>LinkedIn: www.linkedin.com/in/eknereaa</p>
  </section>
</body>
</html>



