<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Currículo Web</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

  <!-- Cabeçalho de Navegação-->
  <header>
    <nav>
      <ul>
        <li><a href="#quem-sou-eu">Quem sou eu</a></li>
        <li><a href="#experiencias">Experiências</a></li>
        <li><a href="#formacao">Formação</a></li>
        <li><a href="#habilidades">Habilidades</a></li>
        <li><a href="#especialidades">Especialidades</a></li>
        <li><a href="#contato">Contato</a></li>
      </ul>
    </nav>
  </header>






  <!-- Seções do Site -->
  <section class="intro">
    <div class="profile-photo">
      <img src="/fotoekner_02.jpg" alt="Photo do Perfil">
    </div> 
    <div class="profile-info">
      <h2>Desenvolvedor Back-end</h2>
      <p>Desenvolvedor iniciante na Área de Back-end, com aprendizado rápido e pronto para o meu melhor</p>
    </div>
  </section>

  

  </section>









</body>

<script>
  const sections = document.querySelectorAll("section");
  const navLinks = document.querySelectorAll("nav ul li a");

  window.addEventListener("scroll", () => {
    let current = "";
    sections.forEach((section) => {
      const sectionTop = section.offsetTop - 70;
      if (window.scrollY >= sectionTop) {
        current = section.getAttribute("id");
      }
    });

    navLinks.forEach((link) => {
      link.classList.remove("active");
      if (link.getAttribute("href").includes(current)) {
        link.classList.add("active");
      }
    });
  });
</script>



</html>
